div.beerListItemHolder {
    margin-bottom: 25%;
    width: 95%;
    margin-left: 2%;
}

button.removeBeer {
    padding: 5px 8px;
    display: block;
    margin-left: calc(50% - 50px);
    background-color: transparent;
    font-size: 15px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white; 
}

button.removeBeer:hover {
    background-color: black;
}

p.beerRating {
    display: inline;
    font-size: 12px;
}

p.beerBrewery, p.beerRating, p.beerAbv, p.beerTastingNotes, p.beerBreweryLocation {
    font-size: 18px;
} 

h3.beerName {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif; 
}

@media only screen and (min-width: 1024px) {
    div.beerListItemHolder {
        margin-bottom: 5%;
        margin-left: 2%;
    }
}