nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


form {
  position: relative;
  left: 0%;
}

p#returnToHome {
    float: left;
    margin-left: 2%;
    margin-top: 0%;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}

p#signInLink {
    display: inline-block;
    margin-right: 1%;
    margin-top: -1%;
}