

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

html {
  background-color: #3B2215;
}

form {
  position: relative;
  left: 0%;
}

p#returnToHome {
    float: left;
    margin-left: 2%;
    margin-top: 0%;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}

header.signIn {
  background-color: #3B2215;
}


p#signInLink {
    display: inline-block;
    margin-right: 1%;
    margin-top: -1%;
}

h1.signIn {
  margin-top: 20%;
}

div.dummyAccount {
  margin-top: 20%;
}

@media only screen and (min-width:1024px) {
  h1.signIn {
    margin-top: 10%;
  }

  div.dummyAccount {
    margin-top: 5%;
  }
  


}