* {
  box-sizing: border-box;
}

div.app {
  display: block;
  width: 100%;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}

a#logOutLink {
    margin-right: 2%;
}

a#recommendBeer {
    float: left;
    margin-left: 2%;
}

a.expandList {
  position: relative;
  bottom: 5%;
}

header {
  padding: 2% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section#section1 {
    padding: 15% 0;
    height: 75%;

}

section:nth-child(even) {
  background-color: #ddd;
}


a.expandList {
    position: relative;
    top: 75px;
}

h1.triedList {
    margin-top: 5%;
}

h1.synopsis {
    margin-top: -4%;
}

h3.beerList {
    margin-bottom: 2%;
}

@media only screen and (max-width: 500px) {
  a.expandList {
    top: 40px;
  }
}
  