* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}

a.logOut {
    margin-right: 2%;
}

a.recommendBeer {
    margin-right: 2%;
}

header {
  padding: 2% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section#section1 {
    padding: 15% 0;
    overflow-y: auto;
}

section:nth-child(even) {
  background-color: #ddd;
}

div.leftList {
    display: block;
    width: 45%;
    float: left;
    margin-top: -13%;
    text-align: center;
    margin-left: 2%;
}

div.rightList {
    display: block;
    width: 45%;
    float: right;
    margin-top: -13%;
    text-align: center;
    margin-right: 2%;
}

a.expandList {
    position: relative;
    top: 900px;
}

h1.triedList {
    margin-top: 5%;
}

h1.synopsis {
    margin-top: -4%;
}

h3.beerList {
    margin-bottom: 2%;
}
  