* {
  box-sizing: border-box;
}

div.app {
  display: block;
  width: 100%;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header.triedList {
  padding: 15% 0;
  background-image: url("https://images.alphacoders.com/741/thumb-1920-74183.jpg")
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: right;
}

#beerIcon, #beerIconSignIn:hover {
  cursor: pointer;
}

p#logOutLink {
    display: inline-block;
    margin-right: 2%;
    margin-top: 0%;
}

p#recommendBeer {
    float: left;
    margin-left: 2%;
    margin-top: 0%;
}

a.expandList {
  position: relative;
  bottom: 5%;
}

a#addToList:hover {
  cursor: pointer;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

section#section1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

a.expandList {
    position: relative;
    top: 75px;
}

h1.triedList {
    margin-top: 5%;
    font-family: 'Lora', serif; 
    font-style: italic;
    font-weight: lighter;
}

h1.synopsis {
  font-size: 35px;
  margin-top: -4%;
  font-family: 'Lora', serif; 
  font-style: italic;
  font-weight: lighter;
}

h3.beerList {
    margin-bottom: 2%;
}

button#addToTried {
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}

button#addToTried:hover {
  background-color: black;
  cursor: pointer;
}

button#addToTried:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

@media only screen and (max-width: 500px) {
  p.expandList {
    top: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  header.triedList {
    padding: 4% 0;
  }

  h1.synopsis {
    font-size: 60px;
  }

  h1.triedList {
    font-size: 70px;
  }

  h3.commonTastingNotes, h3.averageAbv, h3.favoriteBrewery, h3.numberOfBeers{
    font-size: 30px;
  }

  div.statWrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  div.tastingNotes {
    margin-top: 7%;
  }
}

  