* {
  box-sizing: border-box;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

html, body {
  height: 100%;
}

/* CSS for fade in animation */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/**/

nav,
footer {
  padding: 1% 0;
  background-color: rgb(17, 7, 1);
}

nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header.homePage, header.signIn {
  padding: 27% 0;
  display: block;
  height: 50%;
  background-image: url("https://images.alphacoders.com/741/thumb-1920-74183.jpg");
  background-size: cover;

}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #210D02;
}

section:nth-child(even) {
  background-color: #3B2215;
}

h1 {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

h2.title {
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-left: 2%;
  margin-right: 2%;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

p#signUpLinkLanding {
  display: inline-block;
  margin-right: 2%;
}

p#signInLinkLanding {
  display: inline-block;
}

/* CSS for bubble text effect */
.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1.title {
  position: relative;
  margin: 1em 0 0;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}
/**/

@media only screen and (min-width: 1024px) {
  header.homePage {
    background-image: url("https://images8.alphacoders.com/413/thumb-1920-413078.jpg");
  }

  div.titleHolder {
    display: block;
    width: 50%;
    position: relative;
    left: 45%;
    margin-top: -13%;
    color: white;
  }

  h1.title {
    font-size: 80px;
  }

  h3 {
    font-size: 20px;
  }

  h2.title {
    font-size: 25px;
    margin-left: 0%;
    margin-right: 0%
  }

  h2 {
    font-size: 40px;
  }

  h4.subText {
    margin-top: 3%;
  }
} 

@media only screen and (max-width: 760px) {
  .individual-bubble {
    display: none;
  }
}

