* {
  box-sizing: border-box;
}

input#signUpUsername {
    margin-left: 1%;
    position: relative;
    left: 4%;
}

input#signUpPassword {
    margin-left: 1%;
    margin-top: 1.5%;
    position: relative;
    left: 5%;
}

button#logInButton {
    position: relative;
    top: 10px;
    background-color: #3B2215;
    padding: 15px 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button#signUpButton {
  margin-top: 0px;
  position: relative;
  right: 50px;
}

button#signUpButton:hover {
  cursor: pointer;
}

p.error {
    color: red;
}

p.passwordInfo {
  color: black;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

ul.passwordInfo {
  color: black;
  margin: 0;
}

li {
  color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQg.ttf) format('truetype');
}

body {
  font-family: 'open sans', helvetica, arial, sans;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
  -moz-box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
       box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
}
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
    -moz-box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
         box-shadow: 0 10px 6px -6px rgb(39, 39, 39);
  }
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}

.log-form h2 {
  color: #5d5d5d;
  font-family: 'open sans condensed';
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
}

.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2em;
  padding: 1em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: black;
}

.log-form input:focus {
  outline: none;
}

.log-form .btn {
  display: inline-block;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
}

.log-form .btn:hover {
  background: #23cad5;
}

.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btn:focus {
  outline: none;
}

.log-form .forgot {
  color: #33d3de;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}

.log-form .forgot:hover {
  color: #1ba0a9;
}

p.dummy {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

div.dummy {
    margin-top: 10%;
}

div.log-formSignUp {
  margin-top: 5%;
}

div.signUpLoadingHolder {
  display: inline-block;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 85px;
  left: 60px;
}
  

@media only screen and (min-width: 500px) {
    input#signUpPassword {
        left: 8px;
    }

    input#signUpUsername {
        left: 5px;
    }

    .log-form input {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    

    
}