div.addBeerHolder {
    display: inline-block;
    height: 300px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-right: 0%;
}

.addBeerHolder label {
    display: inline-block;
    width: 100%;
    margin-top: 3%;
}

.beerInputField {
    display: inline-block;
    position: relative;
    width: 300px;
}

#beerSearchForm input {
    color: black;
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
}

#beerSearchForm textarea {
    color: black;
}

textArea {
    display: inline-block;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
textarea#beerTastingNotes {
    height: 100px;
    margin-top: 40px;
}

input#submitButton {
    display: inline-block;
    padding: 15px 40px;
    margin-right: 0%;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    color: white;
    font-weight: lighter;
}

input#submitButton:hover {
    cursor: pointer;
}

form {
    display: inline-block;
    width: 100%;
}

legend {
    font-size: 30px;
    margin-bottom: 60px;
    display: inline-block
}

@media only screen and (min-width: 500px) {
    form {
        display: inline-block;
        position: relative;
    }

    input#submitButton {
        margin-right: 0%;
    }

    legend {
        margin-bottom: 0px;
    }


}