nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: calc(100% - 20px);
  height: 6%;
}

#signUp {
  display: inline-block;
  margin-right: 5%;
  margin-top: 0%;
  position: relative;
  font-size: 17px;

}

#signIn {
  display: inline-block;
  margin-right: 6%;
  margin-top: 0%;
  margin-bottom: -.5%;
  position: relative;
  font-size: 17px;
}

#beerIcon {
  position: absolute;
  left: 2%;
  top: 35%;
}

nav.landingNav {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #beerIcon {
    font-size: 35px;
    top: 20%;
  }

  nav.landingNav {
    width: calc(100% - 17px)
  }
}

