nav {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 6%;
}

#signUp {
  display: inline-block;
  margin-right: 5%;
  margin-top: 0%;
  position: relative;

}

#signIn {
  display: inline-block;
  margin-right: 6%;
  margin-top: 0%;
  margin-bottom: -.5%;
  position: relative;
}